* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: aqua; */
  background-image: url('../images/todo.jfif');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  position: relative;
  left: 40%;
  color: white;
}

#container {
  left: 30%;
  position: relative;
  top: 50px;
  width: 30%;
  border: 1px solid wheat;
  padding: 20px 20px 0 20px;
  background-color: bisque;
  box-shadow: 2px 2px 2px 2px #888;
  z-index: 10;
}

.title {
  display: block;
  font-size: 24px;
}

.refresh {
  float: right;
  position: relative;
  top: 3px;
}

.inputText {
  margin-top: 15px;
  width: 108%;
  height: 40px;
  position: relative;
  left: -15px;
  font-size: 18px;
  border: 1px solid wheat;
  border-left: none;
  border-right: none;
}

::placeholder {
  font-style: italic;
  position: relative;
  left: 15px;
}

.todo-item {
  text-decoration: none;
  min-height: 27px;
  width: 105%;
  border-bottom: 1px solid wheat;
  list-style: none;
  font-size: 20px;
  padding: 13px 10px;
  left: -20px;
  position: relative;
}

.items {
  margin-left: 15px;
  top: 5px;
}

.option {
  float: right;
}

.delete {
  display: none;
}

.select {
  display: block;
}

.delete-all {
  height: 50px;
  width: 109%;
  position: relative;
  top: 0;
  left: -15px;
  border-style: none;
}

.delete-all:hover {
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}